* {
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}
.main {
  width: 100%;
  height: 800px;
}
.nav {
  background-color: black;
  color: white;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1;
}
.title-header, .title-header:link, .title-header:hover {
  color: white;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  float: left;
  margin-top: -10px;
  margin-left: 10px;
}

#kids, #kids:link, #kids:hover {
  color: blue;
  font-family: Courier;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
#unexplore-slideshow: hover {
  opacity: 0.4;
}
#unexplore-slideshow {
  position: absolute;
  top: 70px;
  width: 100%;
  min-height: 100px;
  height: 200px;
}
#unexplore-slideshow > div {
  position: absolute;
}
#unexplore-slideshow img {
  width: 100%;
  height: 100%;
}
.container {
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 70px;
  padding: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
  text-align: center;
}
.title {
  letter-spacing: 2px;
  padding: 0;
}
.opaque {
  opacity: 0.5;
  font-style: italic;
  position: relative;
  top: -15px;
}
.justify {
  text-align: justify;
  padding: 5px;
}
footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  top: 500px;
  height: 40px;
  font-size: 10px;
  opacity: 0.5;
}
.footer:hover {
  color: grey;
}
.logo {
  display: inline;
  width: 30px;
  height: auto;
  opacity: 0.6;
  }
